@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.otf");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}
